<div class="w-full py-6 px-4 sm:px-6 lg:px-8 flex items-center justify-between">
    <!-- Logo and Text -->
    <div class="flex items-center">
      <img src="tm2-logo.png" alt="Header Image">
    </div>
    <!-- Button aligned to the right with Icon -->
    <button class="w-[162px] h-[40px] p-[12px_24px] gap-2 rounded-[8px] bg-white 
    text-left font-open-sans text-[16px] font-normal leading-[24px] flex items-center">
        <!-- Icon -->
        <img src="chevron-down.png" alt="Icon" class="w-4 h-4 mr-2">
        <!-- Text -->
        Experiment
    </button>
  </div>
  